.create-post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f9f4;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.create-post-heading {
  text-align: center;
  color: #2c6e49;
  margin-bottom: 20px;
}

.create-post-form {
  padding: 20px;
}

.create-post-input, .create-post-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.create-post-textarea {
  height: 100px;
}

.create-post-button {
  padding: 10px;
  background-color: #5a9367;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
